@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #070707;
    background-image: url(/noise.png);
}

@layer base {
    h1 {
        @apply tab:text-[72px] text-[60px] font-bold leading-[120%];
    }
    h6 {
        @apply font-medium leading-[120%] md:text-[20px] text-[18px];
    }
    /* ul > li {
        @apply mb-2;
    } */
}

/* Previous styles */
/* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
} */
